
<ul id='space'>
<li>Name: <%= @space.name%> </li>
<li> Price per night: £<%= @space.price%> </li>
<li> Description: <%= @space.description%> </li>
<li> Available from: <%= @space.available_from%> </li>
<li> Available to: <%= @space.available_to%> </li>
</ul>
