<!DOCTYPE html>
<html class="page">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles/style.css" charset="utf-8">
  </head>
  <body>

    <div id="container">
      <div id="main_logo"><a href="/"><img src="http://assets.makersacademy.com/images/logo/ma-wordmark-white.png"></a>
        <div id="bnb">BnB</div></div>
      <div id="welcome"><% if current_user %>
        Welcome, <%= @current_user.first_name %></div>
        <div id="new_space"><form action="/spaces/new"><input type="submit"  value="List New Space"></div>
        </form>
        <div id="sign_out"><form action='/sessions' method='post'>
          <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='Sign out'></form></div>

      <% else %>
      <div id="buttons">
      <form action="/users/new"><input type="submit" class="main_buttons" value="Sign up"></form>
      <form action="/sessions/new"><input type="submit" class="main_buttons" value="Sign in"></form>
    </div>
      <% end %>
    </div>


    <% if flash[:request] %>
    <%= flash[:request] %>
    <% end %>

    <% if flash[:confirmation]%>
    <%= flash[:confirmation] %>
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id="errors">
      <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
      <% end %>
    </ul>
<% end %>


    <%= yield %>

  </body>
</html>
